

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .input-check-pos{
        @apply relative float-left -ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem]
            appearance-none rounded-[0.25rem] border-[0.125rem] border-solid border-neutral-300 
            outline-none before:pointer-events-none before:absolute 
            before:h-[0.75rem] before:w-[0.75rem] before:scale-0 before:rounded-full before:bg-transparent before:opacity-0 
            before:content-[''] checked:border-[#000] checked:bg-[#000] 
            checked:before:opacity-[0.16] checked:after:absolute checked:after:-mt-px 
            checked:after:ml-[0.25rem] checked:after:block 
            checked:after:h-[0.8125rem] checked:after:w-[0.375rem] 
            checked:after:rotate-45 checked:after:border-[0.125rem] 
            checked:after:border-l-0 checked:after:border-t-0 checked:after:border-solid 
            checked:after:border-white checked:after:bg-transparent checked:after:content-[''] 
            hover:cursor-pointer hover:before:opacity-[0.04] 
            focus:shadow-none focus:transition-[border-color_0.2s] focus:before:scale-100 focus:before:opacity-[0.12] 
            focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-[0.875rem] focus:after:w-[0.875rem] 
            focus:after:rounded-[0.125rem] focus:after:content-[''] checked:focus:before:scale-100 
            checked:focus:after:-mt-px checked:focus:after:ml-[0.25rem] checked:focus:after:h-[0.8125rem] checked:focus:after:w-[0.375rem] 
            checked:focus:after:rotate-45 checked:focus:after:rounded-none checked:focus:after:border-[0.125rem] 
            checked:focus:after:border-l-0 checked:focus:after:border-t-0 checked:focus:after:border-solid checked:focus:after:border-white
            checked:focus:after:bg-transparent 
        }

    .a-clear{
        @apply focus:outline-none focus:ring-0 focus:shadow-none active:ring-0 active:outline-none active:shadow-none
    }
    .box-container-table{
        @apply block mx-0 mt-4 pb-4 shadow-lg
    }
    .btn-container{
        @apply flex justify-between mb-5 px-4 py-4 shadow-lg
    }
    .input-form{
        @apply focus:ring-0 focus:outline-none focus:shadow-none
    }
    .container-card{
        @apply bg-white mt-4 pt-4  px-5
    }

    }
